.approvalDiv {
	background: #6495ed;
	height: 260px;
	width: 680px;
	overflow-wrap: break-word;
	padding-bottom: 20px;
}

.warningDiv {
	background-color: orange;
}

.clearFloat {
	clear: both;
}

.logo {
	float: left;
	height: 126px;
	width: 240px;
	padding-top: 5px;
	padding-right: 10px;
}
